<!-- Meant for Extension -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/datepicker.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  </head>
  <body>
  <div class="container">
		<div class="row">
		    <div class="span12">
		        <ul class="nav nav-tabs">
		            <li class="active customtab"><a href="home">Home</a></li>
		            <li class="customtab"><a href="profile">Profile</a></li>
		            <li class="customtab"><a href="codes">Da Codes</a></li>
		            <li class="customtab"><a href="playground">Playground</a></li>
		            <li class="customtab"><a href="login">Login</a></li>
		        </ul>
		    </div>
		</div>
       {% block body %}
       {% endblock %}
  </div>
  {% block js %}
  {% endblock %}
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/bootstrap-datepicker.js"></script>
  <script>
  $('.customtab').click(function (e) {
	  $('.customtab li.active').removeClass('active');
  });
  </script>
  </body>
</html>
