/*
css shorthand padding:
    padding: xx yy zz ll       xx=top
                               yy=right
                               zz=bottom
                               ll=left
*/

/* General */
.customtab {
	font-size: 250%;
}

body {
    background: #A52A2A;
}

.section {
    background-attachment: scroll;
    background-position: center top;
    margin-left: -50px;
    position: relative;
    padding: 150px 0 170px;
}


/* Section 1 */ 
#section1 {
	background:#7f8c8d;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#title_stephenstack.com h1{
    color: "black";
    font-size: 250%;
}

#section1 .intro {
    margin: 130px 0;
}

#section1 .thumb {
    display: none;
}

#section1 .intro h1 {
    color: #F1F1F1;
    font-size: 85px; font-size: 8.5rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 85px;
    margin-left: -5px;
}

#section1 .intro h3 {
    color: #F1F1F1;
    font-size: 26px; font-size: 2.6rem;
    font-weight: 100;
    line-height: 28px;
    margin: 0px;
    width: 80%;

}


/* Section 2 */ 

#section2 {
	background: #DCDCDC;
}

#section2 .read-more a, #section4 .read-more a:hover {
    color: #151515;
}

#section2 .content .span4, #section4 .content .span6 {
    padding-right: 20px;
}

#section2 .content {
    min-height: 300px;
}

#section2 .content .span8 {
    display: none;
}

#section2 .content .span8.current {
    display: block;
}

#section2 ul.article-tags {
    border-top: 1px solid #151515;
    margin: 40px 0 0;
}

#section2 ul.article-tags li {
    border-bottom: 1px solid #151515;
    cursor: pointer;
    display: block;
    font-size: 17px; font-size: 1.7rem;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 45px;
    position: relative;
}

#section2 ul.article-tags li:hover, #section4 ul.article-tags li.current {
    background-color: #1abc9c;
    color:#ecf0f1;
}

#section2 ul.article-tags i {
    left: 15px;
    font-size: 16px; font-size: 1.6rem;
    position: absolute;
    top: 10px;
}

#section2 h4 {
    border-bottom: 1px solid #151515;
    height: 35px;
    margin-bottom: 18px;
}



/* Section 3 */ 

#section3 {
	background: #2F4F4F;
    background-image:url(../img/project-bg.jpg);
    color: #F1F1F1;
}

#section3 h2 {
    margin-left: -5px;
}


#section3 .content img {
    max-width: 96%;
    padding: 2%;
    background-color: #F1F1F1;
}


/* Section 4 */
#section4 {
	background: #1E90FF;
    margin-bottom: 20%;
    color: #F1F1F1;
    padding-bottom: 0px;
}

#section4 h4.intro {
    border-bottom: 1px solid #F1F1F1;
    height: 35px;
    margin-bottom: 18px;
}

#section4 .content {
    position: relative;
}

#section4 .content .alt {
    margin-top: 20px;
}

#section4 .content .alt h4 {
    line-height: 24px;
    margin: 0;
    padding-right: 20px;
}

#section4 .content .alt h4, #section6 .content .alt span {
    display: inline-block;
}

#section4 .content .alt h5 {
    display: inline;
    line-height: 20px;
    margin: 0;
    padding-right: 10px;
}

#section4 .content .span4 {
    padding-right: 25px;
}

#section4 .btn-default {
    margin-top: 15px;
}

#section4 #footer {
    margin: 200px 0 40px;
}

#section4 #footer p {
    font-size: 14px; font-size: 1.4rem;
}


/* Section 5 */
#section5 {
    background: #A52A2A;
    padding-left: 100px;
}

#section5  h1 {
	color: #F1F1F1;
    font-size: 50px; font-size: 8.5rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 85px;
    margin-left: -5px;
    padding-bottom: 100px;
}
