<div class="container-fluid">
    <div class="row-fluid title">
        <div class="span4">
            <h2>Contact</h2>
        </div>
        <!-- /span4 -->
        <div class="span8 hidden-phone alt">
            <hr>
        </div>
        <!-- /span8 -->
    </div>
    <!-- /row-fluid -->
    <div class="row-fluid content">
        <div class="span4">
            <div class="row-fluid alt">
                <h5>Email:</h5>
                <span>hello@yourdomain.com</span>
            </div>
            <!-- /row -->
            <div class="row-fluid alt">
                <h5>Phone:</h5>
                <span>(+34) 123-4567</span>
            </div>
            <!-- /row -->
            <div class="row-fluid alt">
                <h5>Twitter:</h5>
                <span><a href="http://www.twitter.com/basicoh_"
                    rel="external">@Basicoh_</a></span>
            </div>
            <!-- /row -->
        </div>
        <!-- /span4 -->

        <div class="span8">

            <div class="row-fluid">
                <div class="span12"></div>
                <!-- /span12 -->
            </div>
            <!-- /row-fluid -->

            <form method="POST" action="#">

                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label for="name" class="control-label">Name:</label>
                            <div class="controls">
                                <input class="span12" type="text" name="contact_name"
                                    id="name">
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->
                    </div>
                    <!-- /span6 -->
                    <div class="span6">
                        <div class="control-group">
                            <label for="email" class="control-label">Email:</label>
                            <div class="controls">
                                <input class="span12" type="email" name="contact_email"
                                    id="email">
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->
                    </div>
                    <!-- /span6 -->
                </div>
                <!-- /row-fluid -->

                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label for="phone" class="control-label">Phone
                                Number:</label>
                            <div class="controls">
                                <input class="span12" type="tel" name="contact_phone"
                                    id="phone">
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->
                    </div>
                    <!-- /span6 -->
                    <div class="span6">
                        <div class="control-group">
                            <label for="website" class="control-label">Your
                                Website:</label>
                            <div class="controls">
                                <input class="span12" type="url" name="contact_website"
                                    id="website">
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->
                    </div>
                    <!-- /span6 -->
                </div>
                <!-- /row-fluid -->

                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <label for="message" class="control-label">Your
                                Message:</label>
                            <div class="controls">
                                <textarea class="span12" type="text" name="contact_message"
                                    id="message" rows="4"></textarea>
                            </div>
                            <!-- /controls -->
                        </div>
                        <!-- /control-group -->
                    </div>
                    <!-- /span12 -->
                </div>
                <!-- /row-fluid -->

                <input type="hidden" name="save" value="contact">
                <button type="submit" class="btn-inverse pull-right">
                    Send <span>Message</span> <i class="icon-circle-arrow-right"></i>
                </button>
            </form>
            <!-- /form -->
        </div>
        <!-- /span8 -->

        <div id="footer">
            <div class="row-fluid">
                <div class="span12"></div>
                <!-- /span12 -->
            </div>
            <!-- /row-fluid -->
        </div>
        <!-- /footer -->

    </div>
    <!-- /row-fluid -->
</div>