<div class="container-fluid">
    <div class="row-fluid title">
   
        <!-- Sidebar -->
        <div class="span4">
            <h2>DIGITAL RESUME</h2>
			<ul class="article-tags">
			    <li id="objective" class="current"><i class="icon-circle-arrow-right"></i>
				    OBJECTIVE
				</li>
				
				<li id="technical_skills"><i class="icon-circle-arrow-right"></i>
				    TECHNICAL SKILLS
				</li>
				
				<li id="education"><i class="icon-circle-arrow-right"></i>
				    EDUCATION
				</li>
				
				<li><i class="icon-circle-arrow-right"></i>
				    EXPERIENCE
				</li>   
				
				<li><i class="icon-circle-arrow-right"></i>
				    HOBBIES
			    </li>
			</ul>
        </div>

        <!-- Resume content -->
        <div class="span8">
            <div>
			    <button id="prev" onclick="goPrevious()">Previous</button>
			    <button id="next" onclick="goNext()">Next</button>
			    &nbsp; &nbsp;
			    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
			  </div>
			  
			  <div>
			    <canvas id="resume_content" style="border:1px solid black"></canvas>
			  </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	$(".article-tags li").click(function(){
		// TODO: something
	});
	
	var url = '/static/resume.pdf';

	//
    // NOTE: 
    // Modifying the URL below to another server will likely *NOT* work. Because of browser
    // security restrictions, we have to use a file server with special headers
    // (CORS) - most servers don't support cross-origin browser requests.
    //

    //
    // Disable workers to avoid yet another cross-origin issue (workers need the URL of
    // the script to be loaded, and currently do not allow cross-origin scripts)
    //
    PDFJS.disableWorker = true;

    var pdfDoc = null,
        pageNum = 1,
        scale = 0.8,
        canvas = document.getElementById('resume_content'),
        ctx = canvas.getContext('2d');

    //
    // Get page info from document, resize canvas accordingly, and render page
    //
    function renderPage(num) {
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function(page) {
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        page.render(renderContext);
      });

      // Update page counters
      document.getElementById('page_num').textContent = pageNum;
      document.getElementById('page_count').textContent = pdfDoc.numPages;
    }

    //
    // Go to previous page
    //
    function goPrevious() {
      if (pageNum <= 1)
        return;
      pageNum--;
      renderPage(pageNum);
    }

    //
    // Go to next page
    //
    function goNext() {
      if (pageNum >= pdfDoc.numPages)
        return;
      pageNum++;
      renderPage(pageNum);
    }

    //
    // Asynchronously download PDF as an ArrayBuffer
    //
    PDFJS.getDocument(url).then(function getPdfHelloWorld(_pdfDoc) {
      pdfDoc = _pdfDoc;
      renderPage(pageNum);
    });
</script>
