<div class="container">
	<div class="row">
	    <div class="col-lg-12">
	        <div class="row">
	            <div class="col-lg-3">
	                <h2>DIGITAL RESUME</h2>
		            <ul id="res-list" class="article-tags">
		                <li id="objective" class="current"><i class="icon-circle-arrow-right"></i>
		                    OBJECTIVE
		                </li>
		                
		                <li id="technical"><i class="icon-circle-arrow-right"></i>
		                    TECHNICAL SKILLS
		                </li>
		                
		                <li id="education"><i class="icon-circle-arrow-right"></i>
		                    EDUCATION
		                </li>
		                
		                <li id="experience"><i class="icon-circle-arrow-right"></i>
		                    EXPERIENCE
		                </li>   
		                
		                <li id="hobbies"><i class="icon-circle-arrow-right"></i>
		                    HOBBIES
		                </li>
		            </ul>
		            <div style="color: #000">
			                <hr />
			                <h5>Last Uploaded</h5>
			                {{ resume.last_uploaded }}<br />
			                <a href="/resume/pdf">.pdf</a><br />
			                <a href="/resume/docx">.docx</a><br />
		            </div>
	            </div>
	            <div class="col-lg-8">
	                <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
	                <canvas id="resume_content" style="border:1px solid black"></canvas>
	            </div>
	        </div>
	    </div>
	</div>
</div>


<script type="text/javascript">
    PDFJS.disableWorker = true;

    var pdfDoc = null,
        pageNum = 1,
        scale = 1.15,
        canvas = document.getElementById('resume_content'),
        ctx = canvas.getContext('2d');

    function renderPage(num) {
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function(page) {
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        page.render(renderContext);
      });

      // Update page counters
      document.getElementById('page_num').textContent = pageNum;
      document.getElementById('page_count').textContent = pdfDoc.numPages;
    }

    $(".article-tags li").click(function(){
        var PAGE_MAP = {
                "objective": 1,
                "technical": 1,
                "education": 2,
                "experience": 2,
                "hobbies": 3,
            };
        var newPageNum = PAGE_MAP[$(this).attr("id")];
        if (newPageNum != pageNum) {
        	pageNum = newPageNum;
        	renderPage(pageNum);
        }
    });

    PDFJS.getDocument("/resume/pdf").then(function getPdf(_pdfDoc){
    	pdfDoc = _pdfDoc;
    	renderPage(pageNum);
    });
</script>
