<div class="container-fluid">
    <div class="row-fluid title">
        <div class="span4">
            <h2>DIGITAL RESUME</h2>
        </div>
        <!-- /span4 -->
        <div class="span8 hidden-phone">
            <hr>
        </div>
        <!-- /span8 -->
    </div>
    <!-- /row-fluid -->
    <div class="row-fluid content">
        <div class="span4">
            <ul class="article-tags">
                <li data-blog="objective" class="current"><i
                    class="icon-circle-arrow-right"></i>OBJECTIVE</li>
                <li data-blog="technical_skills"><i
                    class="icon-circle-arrow-right"></i>TECHNICAL SKILLS</li>
                <li data-blog="education"><i
                    class="icon-circle-arrow-right"></i>EDUCATION</li>
                <li data-blog="experience"><i
                    class="icon-circle-arrow-right"></i>EXPERIENCE</li>
                <li data-blog="hobbies"><i class="icon-circle-arrow-right"></i>HOBBIES</li>
            </ul>
        </div>
        <!-- /span4 -->

        <div class="span8 slide current" data-blog="objective">
            <div class="row-fluid">
                <div class="span6 expand">
                    <h4>Blog Post 1</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type
                        specimen book.</p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->
                <div class="span6 visible-desktop">
                    <h4>Blog Post 2</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type
                        specimen book.</p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->

            </div>
            <!-- /row-fluid -->
        </div>
        <!-- /span8 -->

        <div class="span8 slide" data-blog="technical_skills">
            <div class="row-fluid">
                <div class="span6 expand">
                    <h4>Shot 01</h4>
                    <p style="text-align: center">
                        <img src="img/d01.png" alt="">
                    </p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->
                <div class="span6 visible-desktop">
                    <h4>Shot 02</h4>
                    <p style="text-align: center">
                        <img src="img/d02.png" alt="">
                    </p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row-fluid -->
        </div>
        <!-- /span8 -->

        <div class="span8 slide" data-blog="education">
            <div class="row-fluid">
                <div class="span6 expand">
                    <h4>Marcel Newman</h4>
                    <p style="text-align: center">
                        <img src="img/i01.jpg" alt="">
                    </p>
                    <div class="pull-right read-more">
                        Read More <i class="icon-double-angle-right"></i>
                    </div>
                </div>
                <!-- /span6 -->

                <div class="span6 visible-desktop">
                    <h4>Brutus The Boss</h4>
                    <p style="text-align: center">
                        <img src="img/i02.jpg" alt="">
                    </p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row-fluid -->
        </div>
        <!-- /span8 -->

        <div class="span8 slide" data-blog="experience">
            <div class="row-fluid">
                <div class="span6 expand">
                    <h4>Responsive Menu</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->
                <div class="span6 visible-desktop">
                    <h4>Bootstrap JQuery</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row-fluid -->
        </div>
        <!-- /span8 -->

        <div class="span8 slide" data-blog="hobbies">
            <div class="row-fluid">
                <div class="span6 expand">
                    <h4>Responsive Menu</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->
                <div class="span6 visible-desktop">
                    <h4>Bootstrap JQuery</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.</p>
                    <div class="pull-right read-more">
                        <a href="#" rel="external">Read More <i
                            class="icon-double-angle-right"></i></a>
                    </div>
                </div>
                <!-- /span6 -->
            </div>
            <!-- /row-fluid -->
        </div>
        <!-- /span8 -->

    </div>
    <!-- /row-fluid -->
</div>
