<div class="row-fluid">
    <div class="span12">
        <h1 id="site_begin">$(stephenstack.com).begin(</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 intro">
            <hgroup>
                <h1>Welcome</h1>
                <h3>This is where I play on the web.</h3>
            </hgroup>
            <div>
                <input data-readonly="true" data-fgcolor="#f1c40f"
                    data-inputColor="#333" data-width="245" data-height="122.5"
                    class="knob-4" rel="15" value="0" readonly="readonly"
                    data-angleArc="180" data-angleOffset="-90" data-max="25">
                <h6>cups of coffee per week</h6>
            </div>
            <button class="btn-inverse" data-section="2">
                Learn <span>More</span> <i class="icon-circle-arrow-down"></i>
            </button>
        </div>
        <div class="span6 intro center">
            <div id="myCarousel" class="carousel">
		        <div class="carousel-inner">
		            <div class="caro item active">
		                <img src="/static/img/homepics/profile_picture.jpg" width="500" height="500">
		            </div>
		            <div class="caro item">
		                <img src="/static/img/homepics/fish_w_dad.jpg" width="500" height="500">
		            </div>
		            <div class="caro item">
		                <img src="/static/img/homepics/snowboarding.jpg" width="500" height="500">
		            </div>
		            <div class="caro item">
		                <img src="/static/img/homepics/mexico_w_tone.jpg" width="500" height="500">
		            </div>
		            <div class="caro item">
		                <img src="/static/img/homepics/snowboarding2.jpg" width="500" height="500">
		            </div>
		            <div class="caro item">
		                <img src="/static/img/homepics/rakin.jpg" width="500" height="500">
		            </div>
			    </div>
			    <!-- Carousel nav -->
			    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&rsaquo;</a>
			    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		    </div>
        </div>
    </div>
    <!-- /row-fluid -->
</div>
<script>
$('.carousel').carousel();
</script>