<div class="row-fluid">
    <div class="span12">
        <h1 id="site_begin">$(stephenstack.com).begin(</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 intro">
            <hgroup>
                <h1>Welcome</h1>
                <h3>This is where I play on the web.</h3>
            </hgroup>
            <div>
                <input data-readonly="true" data-fgcolor="#f1c40f"
                    data-inputColor="#333" data-width="245" data-height="122.5"
                    class="knob-4" rel="4" value="0" readonly="readonly"
                    data-angleArc="180" data-angleOffset="-90" data-max="10">
                <h4 class="visible-phone">4</h4>
                <h6>cups of coffee per week</h6>
            </div>
            <button class="btn-inverse" data-section="2">
                Learn <span>More</span> <i class="icon-circle-arrow-down"></i>
            </button>
        </div>
        <div class="span6 intro center">
            <div id="myCarousel" class="carousel">
			    <!-- Carousel items -->
			    <div id="carousel-wrapper">
			        <div class="carousel-inner">
			            <div class=" caro active item"><img src="/static/img/profile_picture.png"/></div>
			            <div class="caro item"><img src="/static/img/fish_w_dad.jpg"/></div>
			            <div class="caro item"><img src="/static/img/mexico_w_tone.jpg"/></div>
			            <div class="caro item"><img src="/static/img/snowboarding.jpg"/></div>
			            <div class="caro item"><img src="/static/img/rakin.jpg"/></div>
			            <div class="caro item"><img src="/static/img/snowboarding2.jpg"/></div>
			        </div>
			    </div>
			    <!-- Carousel nav -->
			    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		    </div>
        </div>
    </div>
    <!-- /row-fluid -->
</div>