<!DOCTYPE HTML>
<html>
<head>
<title>Stephen Stack</title>
<meta name="description" content="">
<meta name="author" content="">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet"
	media="screen">
<link href="/static/css/font-awesome.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet" media="screen">
<link href="/static/css/main.css" rel="stylesheet">

<!--[if IE 7]>
			<link href="/static/css/font-awesome-ie7.min.css" rel="stylesheet">
		<![endif]-->

<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/modernizr.js"></script>

</head>

<body>
	<div id="wrapper">
		<div id="sidebar">
			<a class="btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a>
			<!-- <div id="logo"> <a href="/"><img src="/static/img/logo.svg" alt="logo" /></a> </div> -->
			<nav id="nav" class="navigation" role="navigation">
				<ul class="unstyled">
					<li class="active" data-section="1"><i class="icon-home"></i>
						<span>Home</span></li>
					<li data-section="2" class=""><i class="icon-user"></i> <span>About</span></li>
					<li data-section="3" class=""><i class="icon-laptop"></i> <span>Projects</span></li>
					<li data-section="4" class=""><i class="icon-envelope"></i> <span>Contact</span></li>
					<li data-section="5" class="last"><i class="icon-pencil"></i>
						<span>Login</span></li>
				</ul>
			</nav>
			<!-- /nav -->
		</div>
		<!-- /sidebar -->

		<div id="container">

			<!-- Section 1 -->
			<section class="section" id="section1" data-section="1">
				<div class="row-fluid">
					<div class="span12">
						<h1 id="site_begin">$(stephenstack.com).begin(</h1>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span6 intro">
							<hgroup>
								<h1>Welcome</h1>
								<h3>This is where I play on the web.</h3>
							</hgroup>
							<button class="btn-inverse" data-section="2">
								Learn <span>More</span> <i class="icon-circle-arrow-down"></i>
							</button>
						</div>
						<div class="span6 intro">
							<div class="skill">
								<input data-readonly="true" data-fgcolor="#f1c40f"
									data-inputColor="#333" data-width="245" data-height="122.5"
									class="knob-4" rel="4" value="0" readonly="readonly"
									data-angleArc="180" data-angleOffset="-90" data-max="10">
								<h4 class="visible-phone">4</h4>
								<h6>cups of cofee per week</h6>
							</div>
						</div>

					</div>
					<!-- /row-fluid -->
				</div>
				<!-- /container-fluid -->
			</section>
			<!-- /section -->
			<!-- End Section 1 -->

			<!-- Section 2 -->
			<section class="section" id="section2" data-section="2">
				<div class="container-fluid">
					<div class="row-fluid title">
						<div class="span4">
							<h2>DIGITAL RESUME</h2>
						</div>
						<!-- /span4 -->
						<div class="span8 hidden-phone">
							<hr>
						</div>
						<!-- /span8 -->
					</div>
					<!-- /row-fluid -->
					<div class="row-fluid content">
						<div class="span4">
							<ul class="article-tags">
								<li data-blog="objective" class="current"><i
									class="icon-circle-arrow-right"></i>OBJECTIVE</li>
								<li data-blog="technical_skills"><i
									class="icon-circle-arrow-right"></i>TECHNICAL SKILLS</li>
								<li data-blog="education"><i
									class="icon-circle-arrow-right"></i>EDUCATION</li>
								<li data-blog="experience"><i
									class="icon-circle-arrow-right"></i>EXPERIENCE</li>
								<li data-blog="hobbies"><i class="icon-circle-arrow-right"></i>HOBBIES</li>
							</ul>
						</div>
						<!-- /span4 -->

						<div class="span8 slide current" data-blog="objective">
							<div class="row-fluid">
								<div class="span6 expand">
									<h4>Blog Post 1</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's
										standard dummy text ever since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type
										specimen book.</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->
								<div class="span6 visible-desktop">
									<h4>Blog Post 2</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's
										standard dummy text ever since the 1500s, when an unknown
										printer took a galley of type and scrambled it to make a type
										specimen book.</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->

							</div>
							<!-- /row-fluid -->
						</div>
						<!-- /span8 -->

						<div class="span8 slide" data-blog="technical_skills">
							<div class="row-fluid">
								<div class="span6 expand">
									<h4>Shot 01</h4>
									<p style="text-align: center">
										<img src="img/d01.png" alt="">
									</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->
								<div class="span6 visible-desktop">
									<h4>Shot 02</h4>
									<p style="text-align: center">
										<img src="img/d02.png" alt="">
									</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->
							</div>
							<!-- /row-fluid -->
						</div>
						<!-- /span8 -->

						<div class="span8 slide" data-blog="education">
							<div class="row-fluid">
								<div class="span6 expand">
									<h4>Marcel Newman</h4>
									<p style="text-align: center">
										<img src="img/i01.jpg" alt="">
									</p>
									<div class="pull-right read-more">
										Read More <i class="icon-double-angle-right"></i>
									</div>
								</div>
								<!-- /span6 -->

								<div class="span6 visible-desktop">
									<h4>Brutus The Boss</h4>
									<p style="text-align: center">
										<img src="img/i02.jpg" alt="">
									</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->
							</div>
							<!-- /row-fluid -->
						</div>
						<!-- /span8 -->

						<div class="span8 slide" data-blog="experience">
							<div class="row-fluid">
								<div class="span6 expand">
									<h4>Responsive Menu</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry.</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->
								<div class="span6 visible-desktop">
									<h4>Bootstrap JQuery</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry.</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->
							</div>
							<!-- /row-fluid -->
						</div>
						<!-- /span8 -->

						<div class="span8 slide" data-blog="hobbies">
							<div class="row-fluid">
								<div class="span6 expand">
									<h4>Responsive Menu</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry.</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->
								<div class="span6 visible-desktop">
									<h4>Bootstrap JQuery</h4>
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry.</p>
									<div class="pull-right read-more">
										<a href="#" rel="external">Read More <i
											class="icon-double-angle-right"></i></a>
									</div>
								</div>
								<!-- /span6 -->
							</div>
							<!-- /row-fluid -->
						</div>
						<!-- /span8 -->

					</div>
					<!-- /row-fluid -->
				</div>
				<!-- /container -->
			</section>
			<!-- /section -->
			<!-- End Section 2 -->

			<!-- Section 3 -->
			<section class="section" id="section3" data-section="3">
				<div class="container-fluid">
					<div class="row-fluid title">
						<div class="span4">
							<h2>Projects</h2>
						</div>
						<!-- /span4 -->
						<div class="span8 hidden-phone alt">
							<hr>
						</div>
						<!-- /span8 -->
					</div>
					<div class="row-fluid desc">
						<div class="span8">
							<p>I have a network of developers and designers that I
								sometimes work with. If your web project is large enough, I can
								put together a team of expert developers and designers, to
								tackle the big stuff.</p>
						</div>
						<!-- /span8 -->
					</div>
					<!-- /row -->

					<div class="row-fluid content slide">
						<div class="span4">
							<img src="/static/img/project01.png" alt="Project 01">
							<h6 class="hidden-phone">- VISIT THE PROJECT PAGE</h6>
						</div>
						<!-- /span4 -->
						<div class="span4">
							<img src="/static/img/project02.png" alt="Project 02">
							<h6 class="hidden-phone">- VISIT THE PROJECT PAGE</h6>
						</div>
						<!-- /span4 -->
						<div class="span4">
							<img src="/static/img/project03.png" alt="Project 03">
							<h6 class="hidden-phone">- VISIT THE PROJECT PAGE</h6>
						</div>
						<!-- /span4 -->
					</div>
					<!-- /row-fluid -->

				</div>
				<!-- /container -->
			</section>
			<!-- /section -->
			<!-- End Section 3 -->

			<!-- Section 4 -->
			<section class="section" id="section4" data-section="4">
				<div class="container-fluid">
					<div class="row-fluid title">
						<div class="span4">
							<h2>Contact</h2>
						</div>
						<!-- /span4 -->
						<div class="span8 hidden-phone alt">
							<hr>
						</div>
						<!-- /span8 -->
					</div>
					<!-- /row-fluid -->
					<div class="row-fluid content">
						<div class="span4">
							<div class="row-fluid alt">
								<h5>Email:</h5>
								<span>hello@yourdomain.com</span>
							</div>
							<!-- /row -->
							<div class="row-fluid alt">
								<h5>Phone:</h5>
								<span>(+34) 123-4567</span>
							</div>
							<!-- /row -->
							<div class="row-fluid alt">
								<h5>Twitter:</h5>
								<span><a href="http://www.twitter.com/basicoh_"
									rel="external">@Basicoh_</a></span>
							</div>
							<!-- /row -->
						</div>
						<!-- /span4 -->

						<div class="span8">

							<div class="row-fluid">
								<div class="span12"></div>
								<!-- /span12 -->
							</div>
							<!-- /row-fluid -->

							<form method="POST" action="#">

								<div class="row-fluid">
									<div class="span6">
										<div class="control-group">
											<label for="name" class="control-label">Name:</label>
											<div class="controls">
												<input class="span12" type="text" name="contact_name"
													id="name">
											</div>
											<!-- /controls -->
										</div>
										<!-- /control-group -->
									</div>
									<!-- /span6 -->
									<div class="span6">
										<div class="control-group">
											<label for="email" class="control-label">Email:</label>
											<div class="controls">
												<input class="span12" type="email" name="contact_email"
													id="email">
											</div>
											<!-- /controls -->
										</div>
										<!-- /control-group -->
									</div>
									<!-- /span6 -->
								</div>
								<!-- /row-fluid -->

								<div class="row-fluid">
									<div class="span6">
										<div class="control-group">
											<label for="phone" class="control-label">Phone
												Number:</label>
											<div class="controls">
												<input class="span12" type="tel" name="contact_phone"
													id="phone">
											</div>
											<!-- /controls -->
										</div>
										<!-- /control-group -->
									</div>
									<!-- /span6 -->
									<div class="span6">
										<div class="control-group">
											<label for="website" class="control-label">Your
												Website:</label>
											<div class="controls">
												<input class="span12" type="url" name="contact_website"
													id="website">
											</div>
											<!-- /controls -->
										</div>
										<!-- /control-group -->
									</div>
									<!-- /span6 -->
								</div>
								<!-- /row-fluid -->

								<div class="row-fluid">
									<div class="span12">
										<div class="control-group">
											<label for="message" class="control-label">Your
												Message:</label>
											<div class="controls">
												<textarea class="span12" type="text" name="contact_message"
													id="message" rows="4"></textarea>
											</div>
											<!-- /controls -->
										</div>
										<!-- /control-group -->
									</div>
									<!-- /span12 -->
								</div>
								<!-- /row-fluid -->

								<input type="hidden" name="save" value="contact">
								<button type="submit" class="btn-inverse pull-right">
									Send <span>Message</span> <i class="icon-circle-arrow-right"></i>
								</button>
							</form>
							<!-- /form -->
						</div>
						<!-- /span8 -->

						<div id="footer">
							<div class="row-fluid">
								<div class="span12"></div>
								<!-- /span12 -->
							</div>
							<!-- /row-fluid -->
						</div>
						<!-- /footer -->

					</div>
					<!-- /row-fluid -->
				</div>
				<!-- /container-fluid -->
			</section>
			<!-- /section -->
			<!-- End Section 4 -->

			<!-- Section 5 -->
			<section class="section" id="section5" data-section="5">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span12" id="login_content">
							<div class="span5" id="login">
								<form>
									<h2>Login</h2>
									<label for="username">Username:</label> <input class="span12"
										type="text" name="username" id="username"> <label
										for="password">Password:</label> <input class="span12"
										type="text" name="password" id="password">
									<button id="on_login" type="submit"
										class="btn-inverse pull-right">
										Login</span> <i class="icon-circle-arrow-right"></i>
									</button>
								</form>

							</div>

							<div class="span2">
								<h2>Or</h2>
							</div>

							<div class="span5" id="create_account">
								<h2>Create Account</h2>
								<label for="username">Username:</label> <input class="span12"
									type="text" name="username" id="username"> <label
									for="password">Password:</label> <input class="span12"
									type="text" name="password" id="password">
							</div>
						</div>

						<div id="alerts">
							<div id="login_success" class="alert alert-success hide">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<h4>Welcome back</h4>
							</div>
							<div id="login_fail" class="alert alert-error hide">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								<h4>Username already taken</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<h1 id="site_end">return);</h1>
					</div>
				</div>
			</section>
			<!-- End Section 5 -->

		</div>
		<!-- /container -->
	</div>
	<!-- /wrapper -->

	<!-- JAVASCRIPTS -->
	<script type="text/javascript" src="/static/js/waypoints.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.knob.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
