<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12" id="login_content">
            <div id="gConnect">
			    <button class="g-signin"
			        data-scope="https://www.googleapis.com/auth/plus.login"
			        data-requestvisibleactions="http://schemas.google.com/AddActivity"
			        data-clientId="{{ CLIENT_ID }}"
			        data-accesstype="offline"
			        data-callback="onSignInCallback"
			        data-theme="dark"
			        data-cookiepolicy="single_host_origin">
			    </button>
	        </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <h1 id="site_end">return);</h1>
    </div>
</div>