<div class="row center">
    <div class="span6">
        <h3>Login</h3>
        <form id="login_form">
		    <input type="text" name="username" placeholder="username">
		    <input type="password" name="password" placeholder="password">
	        <label for="checkbox">Remember me</label>
	        <input type="checkbox" name="checkbox">
		    <input id="login_input" type="submit" value="login">
		</form>
    </div>
    <div class="span6">
        <h3>Create Account</h3>
    </div>
</div>
<div id="login_success" class="alert alert-success hide">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Welcome back</h4>
</div>
<div id="login_fail" class="alert alert-error hide">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Username already taken</h4>
</div>
