<div class="container">
    <div class="row">
        <div class="col-lg-8 col-offset-2 col-msg-board" id="login-overlay">
            <div class="goto-section">
                <button class="btn" data-section="5" id="login-btn">
                    Login <span> </span> <i class="icon-circle-arrow-down"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-8 col-offset-2 col-msg-board" id="cont-logged-in">
            <h2 style="color: #333333">Message Board</h2>
            <div id="contacts">
                <select>
                </select>
            </div>
            <div id="msg-board">
            </div>
            <div class="input-group msg-board-input">
                <span class="input-group-addon input-small" id="msg-submit">
                    <button class="btn">
                        <i class="icon-pencil" style="color: black"></i>
                    </button>
                </span>
			    <input type="text" class="input-large" id="msg-sub-input">
			</div>
        </div>
    </div>
</div>

<script type="text/javascript">
function MessageBoard (messages) {
	// experimenting with OO javascript
    this.messages = messages;

    this._displayMessage = function(username, thumbnail, message, htmlclass) {
    	username = "<b>" + username + "</b><br \>";
    	thumbnail = "<img src='" + thumbnail + "'>";
    	var htmlMessage = "<div class='alert " + htmlclass + "'>" +
    	                                                thumbnail + 
    	                                                 username + 
    	                                                  message + 
                                                                  "</div>";
    	$("#msg-board").append(htmlMessage);
    };

    this.update = function() {
    	/* Handle convo length of 0 */
    	
    	$("#msg-board").empty();

    	var msgLength = this.messages.length;

    	if (msgLength < 1) {
    		console.log("-- No convo! --");
    		return null;
    	}
	
    	// randomly select the first user in the convo as the person who will
    	// appear on the left side of the message board
    	var preDefinedSender = this.messages[0].sender.gapi_id;

    	for (var i = 0; i < this.messages.length; i++) {
    		var msg = this.messages[i];
    		var sender = msg.sender;

    		if (sender.gapi_id == preDefinedSender) {
    			// left
    			this._displayMessage(sender.name, sender.thumbnail, msg.msg, "left");
    		} else {
    			// right
    			this._displayMessage(sender.name, sender.thumbnail, msg.msg, "right");
    		}
    	}
    };
}

$("#msg-submit").click(function(){
	$.ajax({
        type : 'POST',
        url : '/message',
        contentType : 'application/octet-stream; charset=utf-8',
        success : function() {
        	updateMessageBoard()
        },
        processData : false,
        data : JSON.stringify({
               "msg": $("#msg-sub-input").val(),
               }),
    });
});

function onLogin() {
    $("#cont-logged-in").fadeTo("fast", 1);
    $("#login-overlay").hide();
}

function onLogout() {
	$("#login-overlay").show();
	$("#cont-logged-in").fadeTo("fast", .2);
}

registerLoginCallback(onLogin);
registerLogoutCallback(onLogout);
</script>
